.ipynb_checkpoints/
img/
__pycache__/
doc/3000701299 signed contract.pdf
doc/counting_zebra_mussels_ai_poc_cciw.pdf
Untitled.ipynb
*.mp4
*.zip
Untitled.ipynb
opencv_install
*.csv
*.json
*.aux
*.log
*.gz
*.out
adig-report.pdf
